<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <h1 style='color:blue';>플라스크 기반 웹 프로그램입니다.</h1>
    <hr>

     <h3>1.Get 방식 페이지 요청<br>
        <a href="process-data?data1=test1&data2=test2">Get 방식 페이지 요청</a></h3>
    <h3> 2.POST 방식 데이터 요청</h3>
    <form action="process-data" method="post">
        <input type="text" name="data1"><br>
        <input type="text" name="data2"><br>
        <input type="submit" value="전송"><br>
    </form>
</body> 
</html>