<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='box-style.css') }}">
    <title>Document</title>
</head>
<body>
    <head>요청에 따라 그린 박스 ( {{width}} X {{height}} )</head>
    <table>
        {% for y in range(height) %}
        <tr>
            {% for x in range(width) %}
            <td>
                {% if x == 0 or x == (width-1) or y == 0 or (height-1) %}
                {{ ch }}
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            {% endfor %%}
        </tr>
        {% endfor %%}
    </table>
    
</body>
</html>